.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: flex-end;
  padding-right: 20px;
}

.a {
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;

}
.active {
  cursor: pointer;
  font-size: 28px;
  padding: 30px;
}

.a:hover {
  color: #17117a;
}
